<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 sm6 pa-2>
        <h1>Update movie</h1>
        <v-form v-model="valid" ref="form">
          <v-text-field v-model="movie_to_edit.title" label="Title" :rules="inputRules" required></v-text-field>
          <v-text-field
            v-model="movie_to_edit.year"
            type="number"
            label="Year"
            :rules="inputRules"
            required
          ></v-text-field>
          <v-text-field
            v-model="movie_to_edit.language"
            label="Language"
            :rules="inputRules"
            required
          ></v-text-field>
          <v-text-field
            v-model="movie_to_edit.genre"
            label="Genre of the film"
            :rules="inputRules"
            required
          ></v-text-field>
          <v-text-field
            v-model="movie_to_edit.director.name"
            label="Director Name"
            :rules="inputRules"
            required
          ></v-text-field>
          <v-text-field
            v-model="movie_to_edit.director.firstName"
            label="Director First Name"
            :rules="inputRules"
            required
          ></v-text-field>
          <v-text-field
            v-model="movie_to_edit.director.nationality"
            label="Director nationality"
            :rules="inputRules"
            required
          ></v-text-field>
          <v-text-field
            v-model="movie_to_edit.director.birthday"
            label="Director birthday"
            :rules="inputRules"
            required
          ></v-text-field>
          <v-textarea
            v-model="movie_to_edit.synopsys"
            type="number"
            label="Synopsys"
            :rules="inputRules"
            required
          ></v-textarea>
          <v-rating v-model="movie_to_edit.rating"></v-rating>
          <v-btn v-on:click="updateMovie" :class="{ red: !valid, green: valid }">Update movie</v-btn>
          <v-btn v-on:click="reset">Reset</v-btn>
        </v-form>
        <p>{{updateMessage}}</p>
      </v-flex>

      <v-flex xs12 sm6 pa-2>
        <h1>Add custom poster</h1>
        <v-img
          v-if="movie_to_edit.poster"
          :src="movie_to_edit.poster"
          max-height="500"
          alt="Poster of the movie"
        />
        <v-img v-else src="https://urlz.fr/93L6" aspect-ratio="2.75"></v-img>
        <br>
        <v-form ref="formPoster">
          <input id="posterInput" type="file" name="poster">
          <v-btn @click="submitPoster">Submit poster</v-btn>
        </v-form>
      </v-flex>
    </v-layout>
    <hr>
    <v-btn flat color="blue" @click="goToInfos">Return to infos</v-btn>
  </div>
</template>

<script>
import clone from "lodash.clone";

export default {
  data() {
    return {
      valid: false,
      movie_clone: {},
      movie_to_edit: {
        director: {
          name: "",
          firstName: "",
          nationality: "",
          birthday: ""
        }
      },
      updateMessage: "",
      inputRules: [v => !!v || "this input is required"]
    };
  },
  methods: {
    reset: function() {
      this.movie_to_edit = clone(this.movie_clone);
      this.$refs.form.resetValidation();
    },
    submitPoster: function() {
      var files = posterInput.files;

      if (files.length > 0) {
        const image = new FormData();
        image.append("poster", posterInput.files[0]);
        window.shared.addPoster(this.movie_to_edit.id, image, this.getMovie);
      }
    },
    goToInfos: function() {
      this.$router.push("/movie/" + this.movie_to_edit.id);
    },
    updateMovie: function() {
      if (this.$refs.form.validate()) {
        var $this = this;
        window.shared.updateMovie(
          this.$route.params.id,
          this.movie_to_edit,
          function() {
            $this.movie_clone = clone($this.movie_to_edit);
            $this.updateMessage = "Movie sucessfull updated !";
            setTimeout(() => {
              $this.updateMessage = "";
            }, 3000);
          }
        );
      }
    },
    getMovie: function() {
      var $this = this;
      window.shared.getMovieById($this.$route.params.id, function(result) {
        $this.movie_to_edit = result;
        $this.movie_clone = clone(result);
      });
    }
  },
  created: function() {
    this.getMovie();
  },

  computed: {}
};
</script>

<style>
</style>