<template>
  <div>
    <v-flex xs12 sm4 pa-2>
      <v-text-field placeholder="search a movie" v-model="search" solo></v-text-field>
    </v-flex>

    <v-layout row wrap>
      <movie-item
        v-for="movie in movies_search"
        v-bind:key="movie.id"
        v-bind:movie="movie"
        v-on:show="show(movie.id)"
        v-on:edit="edit(movie.id)"
        v-on:remove="remove(movie.id)"
      ></movie-item>
    </v-layout>

    <h1>Add a new movie :</h1>
    <v-form v-model="valid" ref="form">
      <v-text-field v-model="movie_to_add.title" label="Title" :rules="inputRules" required></v-text-field>
      <v-text-field
        v-model="movie_to_add.year"
        type="number"
        label="Year"
        :rules="inputRules"
        required
      ></v-text-field>
      <v-text-field v-model="movie_to_add.language" label="Language" :rules="inputRules" required></v-text-field>
      <v-text-field
        v-model="movie_to_add.genre"
        label="Genre of the film"
        :rules="inputRules"
        required
      ></v-text-field>
      <v-text-field
        v-model="movie_to_add.director.name"
        label="Director Name"
        :rules="inputRules"
        required
      ></v-text-field>
      <v-text-field
        v-model="movie_to_add.director.firstName"
        label="Director First Name"
        :rules="inputRules"
        required
      ></v-text-field>
      <v-text-field
        v-model="movie_to_add.director.nationality"
        label="Director nationality"
        :rules="inputRules"
        required
      ></v-text-field>
      <v-text-field
        v-model="movie_to_add.director.birthday"
        label="Director birthday"
        :rules="inputRules"
        required
      ></v-text-field>
      <v-textarea
        v-model="movie_to_add.synopsys"
        type="number"
        label="Synopsys"
        :rules="inputRules"
        required
      ></v-textarea>
      <v-rating v-model="movie_to_add.rating"></v-rating>
      <v-btn v-on:click="addMovie" :class="{ red: !valid, green: valid }">Add</v-btn>
      <v-btn v-on:click="clear">clear</v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      message: "Hello",
      movie_to_add: {
        director: {
          name: "",
          firstName: "",
          nationality: "",
          birthday: ""
        }
      },
      search: "",
      movies: [],
      inputRules: [v => !!v || "this input is required"]
    };
  },

  methods: {
    addMovie: function() {
      if (this.$refs.form.validate()) {
        window.shared.addMovie(this.movie_to_add, this.loadMovies);
        this.clear();
      }
    },
    clear: function() {
      this.movie_to_add = {
        director: {
          name: "",
          firstName: "",
          nationality: "",
          birthday: ""
        }
      };
      this.movie_to_add.rating = 1;
      this.$refs.form.resetValidation();
    },
    show: function(id) {
      this.$router.push("/movie/" + id);
    },
    edit: function(id) {
      this.$router.push("/movie/" + id + "/edit");
    },
    loadMovies: function() {
      var $this = this;
      window.shared.getMovies(function(result) {
        $this.movies = result;
      });
    },
    save: function() {
      this.movie_to_edit = null;
    },
    remove: function(id) {
      var $this = this;
      window.shared.removeMovie(id, function() {
        var movie = $this.movies.find(el => el.id == id);
        var index = $this.movies.indexOf(movie);
        $this.movies.splice(index, 1);
      });
    }
  },

  created: function() {
    this.loadMovies();
    this.movie_to_add.rating = 1;
  },

  computed: {
    firstletter: function() {
      return this.message[0];
    },
    movies_search: function() {
      return this.movies.filter(
        m =>
          m.title.toLowerCase().indexOf(this.search.toLowerCase()) != -1 ||
          m.year
            .toString()
            .toLowerCase()
            .indexOf(this.search.toLowerCase()) != -1
      );
    }
  }
};
</script>

<style>
#msg {
  color: red;
}
</style>