<template>
  <div>
    <h1>{{movie.title}} - {{movie.year}} - {{movie.language}} ({{movie.genre}})</h1>
    <v-img
      v-if="movie.poster"
      :src="movie.poster"
      aspect-ratio="2.75"
      max-height="500"
      alt="Poster of the movie"
    />
    <v-img v-else src="https://urlz.fr/93L6" aspect-ratio="2.75" max-height="500"></v-img>
    <br>
    <h2>Director</h2>
    <p>{{movie.director.name}} {{movie.director.firstName}} - {{movie.director.nationality}}</p>
    <p>{{movie.director.birthday}}</p>
    <h2>Synopsys</h2>
    <p>{{movie.synopsys}}</p>
    <v-rating v-model="movie.rating" readonly></v-rating>

    <v-btn flat color="blue" v-on:click="editMovie">Edit movie</v-btn>
    <v-btn flat color="blue" v-on:click="removeMovie">Remove movie</v-btn>
  </div>
</template>

<script>
export default {
  data() {
    return {
      movie: {
        director: {
          name: "",
          firstName: "",
          nationality: "",
          birthday: ""
        }
      }
    };
  },
  methods: {
    editMovie: function() {
      this.$router.push("/movie/" + this.movie.id + "/edit");
    },
    removeMovie: function() {
      var $this = this;
      window.shared.removeMovie(this.movie.id, function() {
        $this.$router.push("/");
      });
    }
  },

  created: function() {
    var $this = this;
    window.shared.getMovieById($this.$route.params.id, function(result) {
      $this.movie = result;
    });
  },

  computed: {}
};
</script>

<style>
</style>