<template>
  <v-flex xs12 sm4 pa-2>
    <v-card height="100%">
      <v-img v-if="movie.poster" :src="movie.poster" aspect-ratio="2.75" alt="Poster of the movie"/>
      <v-img v-else src="https://urlz.fr/93L6" aspect-ratio="2.75"></v-img>

      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">{{ movie.title }} - {{movie.year}}</h3>
        </div>
      </v-card-title>

      <v-card-text primary-title>
        <div>{{ movie.synopsis }}</div>
      </v-card-text>

      <v-card-actions>
        <v-btn flat color="blue" v-on:click="showMovie($event)">En savoir plus</v-btn>
        <v-btn flat color="blue" v-on:click="editMovie($event)">Edit</v-btn>
        <v-btn flat color="blue" v-on:click="removeMovie($event)">Remove</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: ["movie"],
  methods: {
    showMovie: function(event) {
      this.$emit("show", event);
    },
    removeMovie: function(event) {
      this.$emit("remove", event);
    },
    editMovie: function(event) {
      this.$emit("edit", event);
    }
  },

  computed: {}
};
</script>

<style>
</style>