
<template>
  <v-app>
    <v-toolbar>
      <v-toolbar-title>
        <v-btn :to="{name: 'home'}" flat>Movies</v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn :to="{name: 'home'}" flat>Home</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer class="pa-3">
      <v-spacer></v-spacer>
      <div>Dupuy Sylvain &copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "app"
};
</script>

<style>
</style>